/* CSS Styles */
body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
section {
  padding: 40px;
}

#intro {
  text-align: center;
}
.profile-photo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.skill-card {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 20px;
  overflow: hidden;
}

.skill-logo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.skill-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.skill-overlay h3,
.skill-overlay p {
  color: #fff;
  margin: 0;
  padding: 5px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.skill-card:hover .skill-logo {
  transform: scale(1.1);
}

.skill-card:hover .skill-overlay {
  opacity: 1;
}

.skill-card:hover .skill-overlay h3,
.skill-card:hover .skill-overlay p {
  opacity: 1;
}
#social-media {
  text-align: center;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-icon {
  width: 30px;
  height: 30px;
  margin: 0 10px;
}
